*,
*::before,
*::after{
    padding: 0%;
    margin: 0%;
}
    html,
    body{
        height: 100%;
    }  
    .wrapper{    
        width: auto;
        min-height:100%;
        display: flex;
        flex-direction: column;
    } 
    header{
        background:#f1f1f1;
        display: flex;
        flex-direction: row;
        border: none;
        border-radius: 12px;
    }
    nav{
        top: 99px;
        position: sticky;
        padding: 15px;
        background:#634e4e;          
    }   
    .nav-ul{
        vertical-align: middle;
    }
    .nav-li{
        list-style-type: none;
        display: inline;
        padding-right: 60px;
    }
    .nav-li-text{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: normal;
        font-size: 20px;
        color: black;
        text-decoration-line: none;
    }
    section{
        flex: 1 0 auto;
        background:#ffffff;    

        display: flex;
        flex-direction: column;
    }
    footer{
        padding: 50px;
        background:#f1f1f1;
    } 
    .sidebar-inner-nav{
        left: 0;
        width: 30%;
        height: 100%;
    }
    .section-content{
        width: 70%;
    }