@font-face {
    font-family: 'PTSansBold';
    src: url('../fonts/PTSansBold/PTSansBold.eot');
    src: url('../fonts/PTSansBold/PTSansBold.eot') format('embedded-opentype'),
         url('../fonts/PTSansBold/PTSansBold.woff2') format('woff2'),
         url('../fonts/PTSansBold/PTSansBold.woff') format('woff'),
         url('../fonts/PTSansBold/PTSansBold.ttf') format('truetype'),
         url('fonts/PTSansBold/PTSansBold.svg#PTSansBold') format('svg');
}
