@media screen and (max-width: 1280px) {
  .container-one {
    margin-top: 40px;
    width: 90%;
    font-size: medium;
  }
  .container-two{
    margin-top: 40px;
    width: 80%;
  }  
}
@media screen and (min-width: 1920px) {
  .container-one {
    margin-top: 40px;
    width: 80%;
    font-size: large;
  }
  .container-two{
    margin-top: 40px;
    width: 80%;
  }
  .container-two .test{
    margin-bottom: 700px;
  }
}
/**@media screen and (max-width: 2048px) {
  .container-one {
    margin-top: 40px;
    width: 80%;
    font-size: large;
  }
  .container-two{
    margin-top: 40px;
    width: 80%;
  }
  .container-two .test{
    margin-bottom: 700px;
  }
}**/
div .container-one{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align:end;
}
.container-one img{
  opacity: 80%;
  width: 100%;
  height: 100%;
}
.container-one h1 {
  margin-bottom: 30px;
  position: absolute;
  color: white;
  font-size: 40px;
}
.container-one h2 {
  margin-top: 75px;
  position: absolute;
  color: white;
  font-size: 30px;
}
div .container-two{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align:end;
}
.container-two img{
  width: 100%;
  height: 100%;
  opacity: 90%;
}
div .container-two .test {
  width: 700px;
  height: 100px;
  background-color: rgba(196, 196, 196, 0.705);
  position: absolute;
  margin-top: 620px;
  margin-right: 310px;
}
.container-two p {
    display: inline-block;
    width: 700px;
    height: 100px;
    text-align: left;
    padding-top: 20px;
}