@media only screen and (max-width:1920px) {
    .container-one, .container-two, .container-three, .container-four {
      width:100%;
    }
  }
  @media only screen and (max-width:2048px) {
    .container-one, .container-two, .container-three, .container-four {
      width:100%;
    }
  }
div.container-one{
  margin-top: 40px;
  max-width: 100%;
  height: 50px;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container-one button{
  margin-left: 50px;
  padding-right: 50px;
  max-width: 250px;
  height: 40px;
  background-color: rgba(32, 40, 70, 1);
  color: white;
  border-radius: 24px;
  border: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  transition-duration: 0.4s;
  cursor:pointer;
}
.container-one button:hover{
  background-color: #9a94a8;
  color: white;
}
div.container-two{
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container-two div.left{
    max-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.left img.one{
  max-width: 600px;
  height: 250px;
}
.left img.two{
  padding-top: 10px;
  max-width: 600px;
  height: 250px;
}
.container-two div.right{
  max-width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.right div.right-up{
  margin-left: 10px;
  background-color: rgba(199, 199, 199, 1);
  height: 360px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 12px;
}
.right-up p{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.right div.right-down{
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}
.right-down img.one{
  max-width: 250px;
  height: 140px;
}
.right-down img.two{
  padding-left: 10px;
  max-width: 250px;
  height: 140px;
}
div.container-three{
  margin-top: 20px;
  max-width: 100%;
  height: 200px;
  display: flex;
}
.container-three div.wrapper{
  padding-left: 40px;
  padding-right: 40px;

  max-width: 800px;
  height: 200px;
  background-color: rgba(144, 164, 174, 1);
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  border-radius: 12px;
}
.wrapper p{
  font-size: 18px;
}
.wrapper div.wrapper-center{
  margin-top: 20px;
  display: flex;
}
.wrapper-center p{
  font-size: 15px;
}
.wrapper input{
  height: 30px;
  padding-right: 50px;
}
.wrapper button{
  margin-left: 150px;
  max-width: 200px;
  height: 40px;
  background-color: rgba(43, 54, 92, 1);
  color: white;
  border-radius: 24px;
  border: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  transition-duration: 0.4s;
  cursor:pointer;
}
.wrapper button:hover{
  background-color: #9a94a8;
  color: white;
}
.wrapper .wrapper-bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper-bottom li{
  display: ruby;
  margin-right: 20px;
}
.wrapper-bottom p{
  font-size: 15px;
}
.wrapper-bottom input{
  padding-right: 0;
  width: 30px;
  text-align: end;
}
div.container-four{
  margin-top: 20px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
th, td {
  border: 1px solid black;
}