.modalWindow-block{
  width:96%;
  max-width:250px;
  min-height:50px;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background: rgba(23, 66, 29, 0.37);
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: inset 2px -2px 6px rgba(214, 214, 214, 0.021),
    inset -3px 3px 3px rgba(255, 255, 255, 0.342);
  z-index:99;
  border: none;
  border-radius: 12px;
  
}
.modalWindow-body{
  padding-top: 10%;
  padding-right: 10%;
  padding-left: 10%;
  overflow-y:auto;
}
.modalWindow-block div.group{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-bottom: 10%;
  padding-right: 10%;
  padding-left: 10%;
  overflow-y:auto;
}
.p-modalWindow{
  color: rgb(255, 255, 255);
}